
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.container {
  max-width: 1080px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-transform: uppercase;
}

/******************
 DEBUT DU HEADER
******************/

header nav {
  display: flex;
  padding: 10px 30px 0px;
text-align: center;
  justify-content: space-between;
}

header #buttons {
  padding: 0px 0px;
}

header nav img {
  height: 60px;
}

header nav li {
  margin: 0px 80px 0px;
  font-size : 18px;
  font-family: 'Rubik', sans-serif;
}

header h1 {
  padding: 10px; /*haut côtés bas*/
  font-family: 'Courgette', cursive;
  font-size: 30px;
}
header h3 {
  font-family: 'Rubik', sans-serif;
}

/******************
 FIN DU HEADER
******************/


/******************
 MAIN DU HOME
******************/

#morgan {
background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(../Images/morgan-1797422_1920.jpg);
background-size: cover;
background-position: center;
color: white;
padding: 30px 30px 350px;
text-align: center;
font-family: 'Courgette', cursive;
font-size: 14px;
}
article #drowdop{
  background-color: rgb(148, 148, 147);
  height : 150px;
  border-radius: 10px;
  margin : 10px auto 150px;
}

.middle {
	position: relative;
	width: 50%;
	max-width: 500px;
}
.slider {
	position: relative;
	z-index: 1;
	height: 3px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 15px;
	height: 15px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-5px, -5px);
}
.slider > .thumb.right {
	right: 25%;
  transform: translate(5px, -5px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}
#morgan h2{
  margin: auto;
  color : rgb(199, 145, 28);
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
}
#morgan h2:before, #morgan h2:after {
  content:'';
  width:85%;
  border-bottom:rgba(199, 145, 28) solid;
  border-bottom-width: 2px;
  display:inline-block;
  vertical-align:middle;
}
#morgan h2:before {
  margin-left:-100%;
margin-right:2em}
#morgan h2:after {
  margin-right:-100%;
margin-left:2em;}


/* Vignettes des annonces animées*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 420px;
  grid-auto-flow: dense;
  list-style-type: none;
  padding: 0;
  margin: -200px 0 0;
}
.gallery li {
background-color: gray;
border-radius: 15px;
margin: 0 0 20px ;
text-align: left;
font-family: 'Rubik', sans-serif;
font-size : 14px;
color : whitesmoke;
box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
overflow: hidden;
}
.wide {
  grid-column: span 2;
}
.gallery img {
  width: 100%;
  height: 60%;
  display: block;
  margin-bottom: 10px;
  object-fit: cover;
}
.gallery li h3 {
margin : 10px 0 15px;
}
.gallery li .price {
font-size: 18px;
font-weight: bold;
color: rgba(199, 145, 28);
}


/* Hover effect specific styles */

.gallery.filter img {
  transition: filter .5s ease-in-out;
  filter: grayscale(100%);
}
.gallery.filter img:hover {
  filter: none;
  transform:scale(1.1);
 }


 /******************
 MAIN DE ANNONCE
******************/
main {
  background-color: rgb(193, 193, 193,0.5);
}
.sub {
display: inline-block;
margin-left : 7%;
padding: 8px 16px;
}
section {
  padding-bottom: 80px;
}

.offers {
  margin-left: 3%;
  margin-right: 2%;
  font-family: 'Rubik', sans-serif;
}
.offers #photos {
   height: 94%;
 }
.offers #mainPhoto,#smallPhotos  {
   width: 100%;
}

 .offers #smallPhotos img{
  width: 23%;
  box-shadow:0 4px 4px 0 rgba(0,0,0,0.3);
}

.redaction h2 {
  font-family: 'Rubik', sans-serif;
  font-size : 25px;
  margin-top: 15px;
}

.redaction h2#carTitle {
color : rgba(199, 145, 28);
}

.redaction #trait {
  border-color : rgba(199, 145, 28);
  border-width: 0 0 1px;
  border-style : solid;
  margin-top: 15px;
}
.offers .redaction #strongPoints {
  font-size : 14px;
  color : rgba(199, 145, 28);
  margin-top : 25px;
}
.redaction p {
  font-size: 12px;
}

.logo {
  padding-top: 15px;
}
.logo #fourInformations {
  background-color: white;
}
.logo #brandLogo {
  height: 70px;
}
.logo #miniLogos img {
  width: 40px;
}

/******************
 FIN DU MAIN
******************/

footer {
  background-color: #c57f1d;
  color: white;
  }
footer #left {
  line-height : 24px;
  font-size : 18px;
}
 footer #left img {
  height: auto;
  width: 100%;
}
footer #right p {
  font-size : 16px;
  margin-bottom: 0px;
}
footer #right img {
  height: 80px;
  width: auto;
  border-radius: 10px;
  margin-top: 15px;
}

/*******************
format mobile (media querie): jusqu'à une taille d'écran de 768px max
*******************/
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
  #devise {
    flex-direction: column;
    text-align: center;
  }
  #devise img {
    width: 250px;
    margin-right: 0;
  }
  #concept div article {
    width: 100%;
  }
}
